/*!* CSS File to display and hide content since Materialize .hide and .show are buggy to say the least *!*/

/*Determine user screen size and set applicable vars */
@media (max-width: 992px) {
    /*#loginModal*/
    /*modal*/
    .bgimg1, .bgimg2 {
        background-attachment: scroll;
        width: 100%;
        height: 150px;
    }

    #mobileNavButton {
        visibility: visible;
    }

}


/* CSS */
body {
    position: relative;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.bgimg1 {
    /* The image used */
    background-image: url("../images/background_bar_m.jpg");

    /* Set a specific height */
    height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg2 {
  /* The image used */
  background-image: url("../images/test3.jpg");

  /* Set a specific height */
  height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg1, .bgimg2 {
    position: relative;
    opacity: 0.5;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#mobileNavButton {
    visibility: hidden;
}
/*@media (max-width: 450px) {*/
    /*.sidenav {*/
        /*display: inline-block;*/
    /*}*/
    /*.material-icons {*/
        /*display: inline-block;*/
    /*}*/
    /*.sidenav-trigger {*/
        /*display: inline-block;*/
    /*}*/
    /*#nav-big {*/
        /*display: none;*/
    /*}*/
    /*#logo-large {*/
        /*display: none;*/
    /*}*/
    /*#logo-mobile {*/
        /*display: inline-block;*/
        /*font-size-adjust: inherit;*/
    /*}*/
/*}*/

/*@media (min-width: 450px) {*/
    /*.sidenav {*/
        /*display: none;*/
    /*}*/
    /*.material-icons {*/
        /*display: none;*/
    /*}*/
    /*.sidenav-trigger {*/
        /*display: none;*/
    /*}*/
    /*#nav-big {*/
        /*display: inline-block;*/
    /*}*/
    /*#logo-large {*/
        /*display: inline-block;*/
    /*}*/
    /*#logo-mobile {*/
        /*display: none;*/
    /*}*/
/*}*/

/*@media (max-width: 992px) {*/
    /*.background-l {*/
        /*display: none;*/
    /*}*/
    /*.background-s {*/
        /*display: inline-block;*/
    /*}*/
/*}*/

/*@media (min-width: 992px) {*/
    /*.background-l {*/
        /*display: inline-block;*/
    /*}*/
    /*.background-s {*/
        /*display: none;*/
    /*}*/
/*}*/

/*#nav-big {*/
    /*color: #76ff03;*/
/*}*/

/*.modal {*/
    /*max-width: 90%;*/
    /*position: relative;*/
/*}*/